body{ 
    text-align: center;
    background-color: #f7f7f7;
    color: #123b0b;
    height: 100%;
    width: 100%;
}

main {
    width: 70%;
    margin: 20px auto;
}

.logo { 
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;

}