body{ 
    text-align: center;
    background-color: #f7f7f7;
    color: #123b0b;
    height: 100%;
    width: 100%;
}

main {
    width: 70%;
    margin: 20px auto;
}

footer {
    position: relative;
    margin-bottom: 25px;
    margin-left: 300px;
    margin-right: 300px;
}

.logo {
    border: 10px solid #123b0b;
}