<h4 class="slogan">Unleash your game with Kicking Lion Soccer Balls!</h4>
<nav><a href="https://webpages.charlotte.edu/rlee70/">Charlotte Webspace</a> ~ <a
        href="http://www.github.com/rlee70">GitHub.com</a> ~ <a href="https://rlee70.github.io">GitHub.io</a>
    ~ <a href="https://www.linkedin.com/in/rlee70/">LinkedIn</a> ~ <a href="https://www.freecodecamp.org/rlee70">freeCodeCamp</a> ~ <a
        href="https://www.codecademy.com/profiles/rlee70">CodeAcademy</a>
</nav>
<p>Page Built By <a href="lee-enterprises-llc.com/">Lee Enterprises</a> &copy;2024,<a href="https://www.freecodecamp.org/certification/rlee70/javascript-algorithms-and-data-structures-v8">Certified in JS</a>, <a href="https://www.freecodecamp.org/certification/rlee70/responsive-web-design">Certified in Responsive Web Design</a></p>