<h1>Kai Lee's Kicking Lion | ITIS3135 </h1>
<nav>
    <a href="/rlee70/index.html">Home</a> --- <a target="_blank" href="/rlee70/contract.html">Contract</a> --- <a
        href="/rlee70/index.html">Introduction</a>
    --- <a href="about.html">Kicking Lion</a> --- <a href="website_evaluations.html">Website Evaluations</a> --- <a
        href="tables.html">Tables</a> --- <a href="forms.html">Forms</a> --- <a href="firstscripts.html">First
        Javascripts</a> --- <a href="byo_intro.html">BYO Introduction</a> --- <a href="drawing.html">Interactive Drawing</a> --- <a href="slideshow.html">Slideshow</a>
</nav>
<br>
<nav>
    <a href="stuff/CRAP%20WEBSITE*.htm">CRAPPY WEBSITE</a> --- <a
        href="https://webpages.charlotte.edu/rlee70/itis3135/hobby/index.html">My Hobby</a> --- <a
        href="https://webpages.charlotte.edu/rlee70/itis3135/project/index.html">Client Project</a>
    --- <a href="https://webpages.charlotte.edu/rlee70/itis3135/review1.html">Peer Review 1</a> --- <a
        href="https://webpages.charlotte.edu/rlee70/itis3135/review2.html">Peer Review 2</a>
</nav>